.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
}

.left-column, .right-column {
    padding: 20px;
}
.icon-text {
    display: none;
    color: white;
}

.photo img {
    width: 100%;
    max-width: 200px; /* Por ejemplo, para limitar el ancho máximo de la foto */
    height: auto;
    border-radius:25%;
}
    .video-background {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        opacity: 0.5; /* Ajusta el valor de la opacidad según lo desees */
    }
    
/* Fuentes y texto adaptables */
h1, h2, h3, p, a,ul {
    color: white;
    margin-bottom: 30px; /* Hacer que todos los textos sean blancos */
}

/* Otros estilos para hacer que tu página sea más responsive */
