.container {
    display: flex;
    justify-content:space-between;
}
 img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.photo{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.left-column {
    width: 50%; /* Ajusta según necesites */
    margin-right: 10px;
    border: 3px solid blue; /* Agrega borde derecho de color azul */
    padding-right: 10px; /* Añade un poco de espacio para el borde */
}

.right-column {
    width: 50%; 
    border: 3px solid blue;/* Ajusta según necesites */
}
.education,
.experience,
.about-me,
.skills, h1, h2,h3, header{
    margin-top: 20px;
    margin-left: 20px;
}
.about-me p{
    margin-left: 20px;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}

